@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FAF8F5;
  color: #1C1917;
}

h1, h2, h3, .font-serif {
  font-family: 'Playfair Display', serif;
}
